html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, section, button  {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Rubik', sans-serif;
}

/* about and work transitions */
.work-container #work-content{
    opacity: 0;
}

.about-container #content{
    -webkit-transform: translate(-100%,-100%);
    transform: translate(-100%,-100%);
}

.work-container #work-content{
    -webkit-transform: translate(100%,-100%);
    transform: translate(100%,-100%);
}

.about-container #content, .work-container #work-content {
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity .6s .2s, -webkit-transform .6s;
    transition: opacity .6s .2s, -webkit-transform .6s .2s;
    transition: transform .6s, opacity .6s .2s;
    transition: transform .6s, opacity .6s .2s, -webkit-transform .6s;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.about-container #content.active, .work-container #work-content.active {
    left: 0;
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    opacity: 1;
}

/* Work specific */

.work-container {
    z-index: 5;
    position: absolute;
    top: 0;
    text-align: center;
    height: 100vh;
    width: 100vw;
}

/* contact trasitions */

#app-view {
    position: relative;
}

#app-view.disabled{
    z-index: -1;
    display: none;
}

.card-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.front, .back {
    backface-visibility: hidden;
    z-index:0;
}

.card {
    transform-style: preserve-3d;
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    background: grey;
    transform: rotateY(180deg);
    height: 100vh;
    width: 100vw;
    z-index: 16;
}

.contact-container{
    z-index: 16;
}
