.about-container {
    position: absolute;
    text-align: center;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 6;
}
.about-content{
    padding: 30px;
    max-width: 69ch;
}
.about-content p{
    margin-top: 50px;
    text-align: center;
}
.about-languages {
    margin-bottom: 10vh;
    margin-top: 20vh;
    display: flex;
    justify-content: space-between;
}
.about-languages img{
    padding: 40px;
    height: 60px;
    width: auto;
}

/* #close {
    position: fixed;
    left: 5px;
    bottom: 5px;
    font-weight: 900;
    z-index: 15;
    transition: opacity .6s 2s;
} */

@media (max-width: 710px){

  .about-languages {
      margin-top: 5vh;
  }

  .about-content p{
      max-width: 30ch;
  }

  .about-languages img {
    padding: 10px;
    height: 40px;
  }
}
