@media (max-width: 940px) {
  .intro-text{
    width: 94vw;
  }

  .intro-text h1{
    font-size: 2em;
  }

  nav button {
    font-size: 1.5em;
    padding: 5px 10px;
    margin-left: 2px;
  }

  .top-navigation{
    justify-content: space-around;
  }
}


@media (max-width: 500px){
  .intro-text h1{
    font-size: 1.5em;
  }
}
