.work-container {
  height: 100vh;
}

.work-container .work-copy{
  max-width: 49ch;
  text-align: center;
}


.work-container .work-companies{
  margin-top: 25vh;
  margin-bottom: 10vh;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.work-companies img{
  padding: 30px;
  max-height: 30px;
  width: auto;
}
